html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

#start-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(255, 255, 255, 0.8);
  padding: 4px 6px;
  border-radius: 4px;
  font-family: sans-serif;
  z-index: 10;
  cursor: pointer;
}

#instructions {
  position: absolute;
  top: 50px;
  left: 10px;
  color: white;
  font-family: sans-serif;
  z-index: 10;
}
